.bookcover{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.booktitle{
    font-size: 50px;
    margin-top: 0px;
}
.margin-top{
   margin-top: 50px;
}
.margin-bottom{
    margin-bottom: 70px;
}
.bookcontainer{
    padding: 0px;
}
.authorlink:hover{
    text-decoration: none;
}
p{
    margin: 0px;
}
.authorrow{
    margin-bottom: 10px;
}
.authorcontainer{
    margin-right: 10px;
}
.abstract{
    text-align: justify;
}
hr{
    border-top-color: darkgray;
    border-top-width: 1px;
}
.technical{
    font-size: 13px;
    color:#878484;
}
.buybook{
    margin-top: 50px;
}
.buybook>.col-8{
    padding: 0px;
    padding-top: 18.6px;
    font-size: 18px; 
}


@media (max-width: 440px){
    .bookcover{
        display: none;
    }
    .bookcontainer{
        width: 91.66%;
    }
}


