.genre-image{
    background-image: url("../Images/GenresImages/AdventureGenre.jpg");
    background-color: #cccccc;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px;
}
.centered{
    align-content: center;
}
.square {
    position: relative;
    display: inline-block;
    margin: 5px;
    width: 22%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

@media screen and (max-width: 700px) {
    .square {width: 31%;}
}

@media screen and (max-width: 684px) {
    .square {width: 47%;}
}

@media screen and (max-width: 584px) {
    .square {width: 45%;}
}