/*
.homepage-section {
    height: 500px;
    width: 100%;
    margin: 0;
}
.homepage-section h1{
    text-align: center;
    margin: 0;
    padding: 30px 0 0 30px;
}


#topMenu {
    background-color:#222;
    overflow: auto;
}

#box {
    position:relative;
    //margin:0 auto;
    padding:5px;
    width:90%;
}

.scroller {
    color:#ffffff;
    width:40px;
    text-align:center;
    cursor:pointer;
    display:none;
    padding:5px;
    margin-top:5px;
}

.scroller-right{
    float:right;
}

.scroller-left {
    float:left;
}

.wrapper {
    position:relative;
    margin:0 auto;
    overflow:hidden;
    padding:5px;
    height:50px;
}

.list {
    position:absolute;
    left:0px;
    top:0px;
    min-width:3000px;
    margin-left:12px;
    margin-top:0px;
}


.item{
    padding:10px;
    //float:left;
    display:table-cell;
    margin:1px;
    position:relative;
    text-align:center;
    cursor:grab;
    //cursor:-webkit-grab;
    color:#efefef;
    border: 1px dotted #111;
    vertical-align:middle;
}*/
/*
.best-seller {

   background-color: #DF9881;
}

.latest-events {

    background-color: #F2D7B4;

}

.popular-genres {
    background-color: #ECE6D2;
}

.remove-all-margin {
    margin: 0 ! important;
    padding: 0 ! important;
}
 */
/*.homepage-box {
    height: 300px;
    width: 400px;
    margin: 20px;
    border-style: solid;
    border-width: 0px;
    display: inline-block;
    border-color: lightgray;
    background-color: #FFFFFF;
}
.homepage-box:hover{
    box-shadow: 1px 1px 6px lightgray;
}

.homepage-box img {
    float: left;
    width: auto;
    height: 100%;
    padding: 20px;
}
.homepage-box div{
    float: left;
}
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}*/
.bookinfo h3{
    font-size: 18px;
    margin-bottom: 1px;
    margin-top: 3px;
    padding-right: 5px;
    padding-left: 5px;
}

.bookinfo p{
    margin: 0;
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
}
.bookinfo{
    text-align: center;
    padding: 0px;
    white-space: normal;
}

.imagebox{
    width: 33.333333%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align:top;
}
.image{
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    padding-bottom: 5%;
}
.leftimage{
    width: 70%;
}
.leftimage:hover{
    width: 80%;
}
.left-arrow{
    width:8%;
    padding-top: 30px;
    padding-bottom: 30px;
}
.rightimage{
    width: 70%;
}
.rightimage:hover{
    width: 80%;
}
.right-arrow{
    width: 8%;
    padding-top: 30px;
    padding-bottom: 30px;
}
#show{
    width: 84%;
    right: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
}
.bestseller-row{
    display: flex;
}
@media (max-width: 900px){
    .right-arrow{
        width: 10%;

    }
    .left-arrow{
        width: 10%;
    }
    #show{
        width: 80%;
    }
}
@media (max-width: 600px){
    .imagebox{
        width: 50%;
    }
    .bookinfo h3{
        font-size: 16px;
    }
    .bookinfo p{
        font-size: 12px;
    }
    .right-arrow{
        width: 13%;
    }
    .left-arrow{
        width: 13%;
    }
    #show{
        width: 74%;
    }
}
@media (max-width: 450px){
    .imagebox{
        width: 100%;
    }
    .bookinfo h3{
        font-size: 14px;
    }
    .bookinfo p{
        font-size: 10px;
    }
    .right-arrow{
        width: 15%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .left-arrow{
        width: 15%;
        padding-left: 5px;
        padding-right: 5px;
    }
    #show{
        width: 70%;
    }
}
