.userimg{
    height: 25px;
    width: 25px;
    align-self: center;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: -2px;
    float: right;

}
.mynav{
    margin-bottom: 0px;
    border-radius: 0;
}
#login-link{
    width: 8em;
}