/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.homepage-section{
    margin-top: 10%;
}
.homepage-section h1{
    text-align: center;
}
#welcome{
    margin-top: 5%;
    text-align: center;
}

#welcome h4{
    padding: 5%;
    font-weight: lighter;
}
#events{
    position: relative;
}
#events img{
     max-width: 150px;
}
#events .event{
    background-color: #fafafa;
    margin: 4%;
    padding: 1%;
}
#events .info div {
    margin-top: 10%;
    padding: 0;
}
#events .info .right {
    margin-left: 10%;
}
