@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

.shopping-cart {
  width: 750px;
  margin: auto auto 80px auto;
  background: #FFFFFF;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  color: #5E6977;
  font-size: 40px;
  font-weight: 400;
}
hr{
  width: 100%;
  border-top: 2px solid #58949C;
  margin-top: 0;
}
.top-row{
  font-size: 20px;
}
.top-row .unit-price{
  padding-left: 495px;
}
.top-row .quantity{
  padding-left: 20px;
}
.top-row .total{
  padding-left: 25px;
}


.item {
  padding: 10px 10px;
  height: 180px;
  display: flex;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: url("../Images/delete-icn.svg") no-repeat center;
  margin-right: 20px;
  border-style: solid;
  border-width: 5px;
  border: transparent;
}
.buttons span:hover {
  border-style: solid;
  border-width: 5px;
  border: #5E6977;
}


/* Product Image */
.image {
  margin-right: 50px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 400px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}
.price-info{
  width: 100%;
  text-align: center;
}
.product-price:before, .total-price:before{
  content: '$ ';
}

.product-quantity input {
  width: 32px;
}

button[class*=btn] {
  background-color: lightgray;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.plus-btn img {
  margin-bottom: 2px;
}
button:focus,
input:focus {
  outline:0;
}


/* Responsive */
@media (max-width: 800px) {
  .top-row{
    display: none;
  }
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 0px;
  }
  .delete-btn {
    margin-right: 0px;
  }
  .product-quantity input{
    border-style: solid;
    border-width: 2px;
    border-color: #eeeeee;
  }
  .product-quantity:before{
    content: 'x     ';
  }
  .product-quantity:after{
    content: '   =';
  }
}

.grand-total{
  margin: 20px;
  display: flex;
  justify-content: flex-end
}
.grand-total-price:before{
  content: '$ ';
}
.grand-total-price-text{
  color: gray;
  padding-right: 50px;
}
.grand-total span{
  font-size: 20px;
}
