.jumbotron{
    background-color: #2DC7C2;
    color:#fff;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom:0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.card{
    background-color: #2DC7C2; 
    border: none;
}
.row{
    align-items: center;
    display: flex;
}
.mynav{
    margin-bottom: 10px;
}
.form-inline {
    flex-direction: column;
    align-items: stretch;
  }
.form-inline input {
  vertical-align: middle;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: inherit;
  height: 100%;
}
.btn-search {
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
    color: white;
    background-color: #2DC7C2; 
}
.btn-search:hover{
    background-color: #139B8D;
    color: white;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    width: 85%;
  }
}
.pad{
    padding-left: 60px;
    padding-right: 0px;
    align-self: center;
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
}
.userimg{
    align-self: center;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: -10px;
    float: right;
}
.footer {
   margin-top: 20px;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
.box{
    border:1px solid #ccc;
    padding:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.myfooter{
    margin-top: 10px;
    background: #2d3246;
}